grant {
  permission java.io.FilePermission "\${java.home}/lib/security/cacerts", "read";
  permission java.io.FilePermission "\${java.home}/lib/security/jssecacerts", "read";
  permission java.io.FilePermission "/usr/share/elasticsearch", "read";
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.lang.RuntimePermission "accessClassInPackage.sun.misc";
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.RuntimePermission "createClassLoader";
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.RuntimePermission "setContextClassLoader";
  permission java.net.SocketPermission "*", "accept, resolve, connect";
  permission java.security.SecurityPermission "insertProvider";
  permission java.security.SecurityPermission "insertProvider.BCFIPS";
  permission java.security.SecurityPermission "insertProvider.BCJSSE";
  permission java.security.SecurityPermission "getProperty.keystore.type.compat";
  permission java.security.SecurityPermission "getProperty.jdk.certpath.disabledAlgorithms";
  permission java.security.SecurityPermission "getProperty.jdk.tls.disabledAlgorithms";
  permission java.security.SecurityPermission "getProperty.jdk.tls.server.defaultDHEParameters";
  permission java.security.SecurityPermission "putProviderProperty.BCFIPS";
  permission java.security.SecurityPermission "putProviderProperty.BCJSSE";
  permission java.security.SecurityPermission "removeProvider.SunJSSE";
  permission java.security.SecurityPermission "removeProvider.SunRsaSign";
  permission org.bouncycastle.crypto.CryptoServicesPermission "exportSecretKey";
  permission org.bouncycastle.crypto.CryptoServicesPermission "exportPrivateKey";
  permission org.bouncycastle.crypto.CryptoServicesPermission "defaultRandomConfig";
};