sudo: required
dist: trusty
group: deprecated-2017Q4

cache:
  directories:
  - .autoconf
  - $HOME/.m2

language: java

sudo: required

services:
  - docker

jdk:
- oraclejdk8

branches:
  except:
    - /^v[0-9].*es/

script: bin/build.sh

deploy:
  provider: script
  script: ci/ci-deploy.sh
  skip_cleanup: true
  on:
    all_branches: true
    tags: false

env:
  - ROR_TASK="license"
  - ROR_TASK="unit"
  - ROR_TASK="integration_es74x"
  - ROR_TASK="integration_es74x_scala"
  - ROR_TASK="integration_es73x"
  - ROR_TASK="integration_es73x_scala"
  - ROR_TASK="integration_es70x"
  - ROR_TASK="integration_es70x_scala"
  - ROR_TASK="integration_es66x"
  - ROR_TASK="integration_es66x_scala"
  - ROR_TASK="integration_es63x"
  - ROR_TASK="integration_es63x_scala"
  - ROR_TASK="integration_es61x"
  - ROR_TASK="integration_es61x_scala"
  - ROR_TASK="integration_es60x"
  - ROR_TASK="integration_es60x_scala"
  - ROR_TASK="integration_es55x"
  - ROR_TASK="integration_es55x_scala"
  - ROR_TASK="integration_es53x"
  - ROR_TASK="integration_es53x_scala"
  - ROR_TASK="integration_es52x"
  - ROR_TASK="integration_es52x_scala"
  - ROR_TASK="integration_es51x"
  - ROR_TASK="integration_es51x_scala"
  - ROR_TASK="package_es7xx"
  - ROR_TASK="package_es6xx"
  - ROR_TASK="package_es5xx"

before_script:
  - sudo sysctl -w vm.max_map_count=262144
  
after_success:
- |

       declare -r SSH_FILE="$HOME/.ssh/gh_identity)"

       # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

       # Decrypt the file containing the private key

       openssl aes-256-cbc \
         -K $encrypted_bf4db9d5783b_key -iv $encrypted_bf4db9d5783b_iv \
         -in ".travis/github_deploy_key.enc" \
         -out "$SSH_FILE" -d

       # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

       # Enable SSH authentication

       chmod 600 "$SSH_FILE" \
         && printf "%s\n" \
              "Host github.com" \
              "  IdentityFile $SSH_FILE" \
              "  LogLevel ERROR" >> ~/.ssh/config
