variables:
  ssh_file: '~/.ssh/gh_deploy_key.priv'

trigger:
  batch: false
  branches:
    include:
    - master
    - develop
    - '*/pull/*'
  tags:
    exclude:
    - '*'
  paths:
    include:
    - '*' 
    exclude:
    - 'docs/*'
    - '*.md'
    - '*/*/*.md'
pool:
  vmImage: 'ubuntu-20.04'

stages:
- stage:
  jobs:
  - job: "secrets"
    steps:
    - checkout: none
    - task: DownloadSecureFile@1
      name: pgp
      displayName: 'Download secret.pgp secret file'
      inputs:
        secureFile: 'secret.pgp'

    - script: |
        echo Installing $(secret.secureFilePath) to directory...
        sudo chown root:root $(secret.secureFilePath)
        sudo chmod a+r $(secret.secureFilePath)
        sudo ln -s -t .travis/ $(secret.secureFilePath)
        echo "secret.pgp MD5SUSM `md5sum .travis/secret.pgp`"
        echo "JAVA VERSION: `java --version`"
        export |egrep -i 'java|jdk'

    - task: DownloadSecureFile@1
      name: GH_key
      displayName: 'Download secret.pgp secret file'
      inputs:
        secureFile: 'gh_deploy_key.priv'

    - script: |
        echo Installing $(deployKey.secureFilePath) to directory...
        sudo chown root:root $(deployKey.secureFilePath)
        sudo chmod a+r $(deployKey.secureFilePath)
        mkdir -p ~/.ssh
        chmod 0700 ~/.ssh
        sudo ln -s -t ~/.ssh/ $(deployKey.secureFilePath)
        echo " $(ssh_file) MD5SUSM `md5sum $(ssh_file)`"
        sudo chmod 600 $(ssh_file) && sudo printf "%s\n" \
         "Host github.com" \
         "  IdentityFile $(ssh_file)" \
         "  LogLevel ERROR" >> ~/.ssh/config
        ls -ltra ~/.ssh

- stage:
  jobs:
  - job:
    condition: succeeded()
    steps:
    - checkout: self
      fetchDepth: 1
    - script: |
        java --version
        echo "executing ROR_TASK = $ROR_TASK"
        bin/build.sh && \
        echo ">>> Tag and upload to S3" && \
        ci/ci-deploy.sh && \
        echo ">>> Publishing artifacts" && ROR_TASK="publish_artifacts" bin/build.sh

    - task: PublishTestResults@2
      inputs:
        testRunTitle: "$ROR_TASK test results"
        searchFolder: integration_testintegration-tests/build/reports/tests/test/*html
    strategy:
      maxParallel: 99
      matrix: 
        LICENSE:
          ROR_TASK: license
        CVE:
          ROR_TASK: cve_check
        UNIT:
          ROR_TASK: unit

        IT_PROXY:
          ROR_TASK: integration_proxy
        IT_es710x:
          ROR_TASK: integration_es710x
        IT_es79x:
          ROR_TASK: integration_es79x
        IT_es78x:
          ROR_TASK: integration_es78x
        IT_es77x:
          ROR_TASK: integration_es77x
        IT_es74x:
          ROR_TASK: integration_es74x
        IT_es73x:
          ROR_TASK: integration_es73x
        IT_es72x:
          ROR_TASK: integration_es72x
        IT_es66x:
          ROR_TASK: integration_es66x
        IT_es63x:
          ROR_TASK: integration_es63x
        IT_es62x:
          ROR_TASK: integration_es62x
        IT_es61x:
          ROR_TASK: integration_es61x
        IT_es60x:
          ROR_TASK: integration_es60x
          
        PKG_es7xx:
          ROR_TASK: package_es7xx
        PKG_es6xx:
          ROR_TASK: package_es6xx
        PKG_es5xx:
          ROR_TASK: package_es5xx
