readonlyrest:
  access_control_rules:

    - name: "CONTAINER ADMIN"
      verbosity: error
      indices: ["*"]
      type: allow
      auth_key: admin:container

    - name: "dev1"
      indices: ["dev1*"]
      type: allow
      auth_key: dev1:test