grant {
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.security.SecurityPermission "getProperty.ssl.KeyManagerFactory.algorithm";
};
