version: "3.8"
services:

  es:
    build:
      context: .
      dockerfile: .base/es/${ES_DOCKERFILE}
      args:
        ES_VERSION: $ES_VERSION
        ROR_VERSION: $ROR_ES_VERSION
        ROR_FILE: $ES_ROR_FILE
    hostname: es
    container_name: es
    depends_on:
      - ldap
      - lagsimulator
    ports:
      - "9200:9200"
      - "9300:9300"
      - "5000:58672" #remote debugger port
      - "9010:9010" # jvisualvm jmx connection port
    environment:
      - cluster.name=es-cluster
      - node.name=es-ror
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m 
      -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:58672 
      -Dcom.sun.management.jmxremote
      -Dcom.sun.management.jmxremote.port=9010
      -Dcom.sun.management.jmxremote.local.only=false
      -Dcom.sun.management.jmxremote.authenticate=false
      -Dcom.sun.management.jmxremote.ssl=false
      -Dcom.sun.management.jmxremote.rmi.port=9010
      -Djava.rmi.server.hostname=127.0.0.1
      -Dcom.unboundid.ldap.sdk.debug.enabled=true"
      - ES_VERSION=$ES_VERSION
      - LDAP_HOST=lagsimulator
      - LDAP_PORT=13890
    networks:
      - es-network
    ulimits:
      memlock:
        soft: -1
        hard: -1

  lagsimulator:
    build:
      context: .
      dockerfile: lag-simulator/Dockerfile
    hostname: simulatedlag
    container_name: simulatedlag
    depends_on:
      - ldap
    networks:
      - es-network

  ldap:
    image: nitnelave/lldap:v0.3.0
    user: "33:33"
    hostname: ldap
    container_name: ldap
    ports:
      - "3890:3890" # ldap port
      - "17170:17170" # ldap frontend
    volumes:
      - "./ldap/data/:/data"
    environment:
      - LLDAP_JWT_SECRET=secret
      - LLDAP_LDAP_USER_PASS=password
      - LLDAP_LDAP_BASE_DN=dc=example,dc=com
    networks:
      - es-network

  kbn:
    build:
      context: .
      dockerfile: .base/kbn/${KBN_DOCKERFILE}
      args:
        KBN_VERSION: $KBN_VERSION
        ROR_VERSION: $ROR_KBN_VERSION
        ROR_FILE: $KBN_ROR_FILE
        ROR_ACTIVATION_KEY: $ROR_ACTIVATION_KEY
    ports:
      - "15601:5601"
    environment:
      ELASTIC_USER_PASSWORD: elastic
      ES_API_URL: https://es:9200
    depends_on:
      es:
        condition: service_started
    networks:
      - es-network
    ulimits:
      memlock:
        soft: -1
        hard: -1

networks:
  es-network:
    driver: bridge
